.mainBoard
{
	text-align: center;
	width: 310px;
	float: left;
}
.dieContainer
{
	width: 305px;
	text-align: center;
}

.dice
{
	background-color: #D0D0D0;
	height: 60px;
	width: 60px;
	font-size: 40px;
	border: 2px solid black;
	margin: 5px;
	text-align: center;
	float: left; /*evens up horizontal and vertical gridlines*/
}

.dice-hidden
{
	color: #D0D0D0;
}

.controlsContainer
{
	/*	float: left;*/
	width: 100%;
	vertical-align: middle;
	margin-bottom: 5px;
}

.timerContainer
{
	border: 1px solid black;
	font-family: Arial;
	font-size: 12px;
	float: left;
	margin-right: 10px;
}

.timer
{
	display: inline-block;
	font-size: 18px;
	float: none;
	margin: 0px;
}

.rotateButtons
{
	height: auto;
	display: inline-block;
	text-align: center;
	font-size: 12px;
	width: auto;
}

.wordLookupResults
{
	border: 0px;
	text-align: center;
}

.chatDiv
{
	float: left;
}

.scoringAndDictionaryContainer
{
	float: left;
	margin-right: 10px;
}
